:root {
  --Very-Light-Grayish-Blue: hsl(0, 0%, 100%);
  --Light-Grayish-Blue: hsl(233, 100%, 98%);
  --Grayish-Blue: hsl(233, 13%, 49%);
  --Dark-Grayish-Blue: hsl(232, 13%, 33%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  min-height: 100vh;
  font-size: 15px;
  font-weight: 700;
  background-color: var(--Light-Grayish-Blue);
}

.main-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 4rem;
  padding: 5rem 10rem;
}

.bg-top {
  position: fixed;
  top: 0;
  right: 0;
  z-index: -1;
}

.bg-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2.5rem;
}

.header h1 {
  font-size: 2rem;
  color: var(--Grayish-Blue);
}

.toggle-button-container {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.toggle-button-container label {
  color: var(--Grayish-Blue);
}

.toggle-button {
  width: 3.5rem;
  height: 2rem;
  border: none;
  border-radius: 15px;
  background: linear-gradient(120deg, #a2a7f0 0%, #696edd 100%);
  position: relative;
  cursor: pointer;
}

.thumb {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: calc((2rem - 1.5rem) / 2);
  left: 0.2rem;
  transition: all 0.3s ease;
}

.toggle-button:hover .thumb {
  background: linear-gradient(
    50deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(123, 129, 255, 1) 30%,
    rgba(148, 62, 255, 1) 70%
  );
}

.toggled {
  left: calc(3.5rem - 1.5rem - 0.2rem);
}

.pricing-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 0;
}

.price-card {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--Very-Light-Grayish-Blue);
  border-radius: 12px;
  padding: 2rem;
  row-gap: 1rem;
  color: var(--Grayish-Blue);
  -webkit-box-shadow: 0px 5px 10px -3px var(--Grayish-Blue);
  box-shadow: 0px 5px 10px -3px var(--Grayish-Blue);
}

.price-card hr {
  width: 100%;
  height: 1px;
  background-color: #d1d7fe;
  border: none;
}

.type {
  font-size: 1.3rem;
  font-weight: 600;
}

.feature {
  font-size: 1rem;
  margin: 0.1rem 0;
}

.price {
  color: var(--Dark-Grayish-Blue);
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.price-digit {
  font-size: 4.5rem;
  font-weight: 700;
}

.dollar-mark {
  font-size: 2.5rem;
}

.learn-more-button {
  width: 100%;
  padding: 0.8rem 0;
  border: 1px solid transparent;
  border-radius: 8px;
  color: white;
  background: linear-gradient(120deg, #a2a7f0 0%, #696edd 100%);
  font-size: 1rem;
  font-weight: 600;
  margin-top: 1rem;
  transition: all 0.4s ease;
  cursor: pointer;
  letter-spacing: 1.3px;
}

.professional-container {
  padding: 4rem 1.5rem;
  background: linear-gradient(120deg, #a2a7f0 0%, #696edd 100%);
  color: white;
}

.professional-container .price {
  color: white;
}

.professional-container button {
  background: white;
  color: #696edd;
}

.learn-more-button:is(:hover, :active) {
  background: white;
  color: #696edd;
  border-color: #696edd;
  transform: translateY(-3px);
}

.professional-container button:is(:hover, :active) {
  color: white;
  background: linear-gradient(135deg, #a2a7f0 0%, #696edd 100%);
  border-color: white;
}

@media screen and (max-width: 1240px) {
  .main-container {
    padding: 5rem;
  }
  .price-digit {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 1024px) {
  .main-container {
    padding: 2rem;
  }
  .price-digit {
    font-size: 3rem;
  }
  .dollar-mark {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .type {
    font-size: 1.1rem;
  }
  .price-digit {
    font-size: 2.5rem;
  }
  .price {
    column-gap: 0.2rem;
  }
  .dollar-mark {
    font-size: 1.2rem;
  }
  .feature {
    font-size: 0.9rem;
  }
  .learn-more-button {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 675px) {
  .pricing-wrapper {
    flex-direction: column;
    row-gap: 1rem;
  }
  .price-card {
    width: 100%;
  }
  .price-digit {
    font-size: 5rem;
  }
  .type {
    font-size: 1.5rem;
  }
  .dollar-mark {
    font-size: 3rem;
  }
  .feature {
    font-size: 1.2rem;
  }
  .learn-more-button {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 425px) {
  .price-digit {
    font-size: 4rem;
  }
  .dollar-mark {
    font-size: 2rem;
  }
  .feature {
    font-size: 1.1rem;
  }
  .learn-more-button {
    font-size: 1rem;
  }
}
